$background: #474A51;
$backgroundModal: #8893a9;

$color-text: #FFF;

$correctPosition: #3B8132;
$incorrectPosition: #D3AD69;
$incorrectGuess: #3AA394;
$grey: #696969;

$light-white: #FFFFFF80;
$light-black: #00000080;
$velocity-flip: 0.5s;

$wordSize: 6